<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Session 11</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
      <header class="jumbotron text-center">
          <div class="container">
            <h1>Y a-t-il un eurodéputé français qui vous ressemble ?</h1>
          </div>
      </header>
    
    <section class="container">
      <div class="intro row align-items-center justify-content-md-center">
        <p class="col-lg-10 col-sm-12 col-12">Nous sommes le {{ day }} {{ now.getDate() }} {{ month }} {{ now.getFullYear() }}. {{ intro }}
        </p>
      </div>
    </section>

    <div id="app" class="container">
  
      <!-- Carte principale -->
      <main class="d-flex align-items-center justify-content-md-center row" v-cloak>
        <div class="col-lg-6 col-sm-12 col-12">

          <!-- Carte lorsqu'il y a des questions -->
          <div class="card question" v-if="current < quiz.length">
              <div class="card-header text-white bg-dark">
                  {{ step.question }}
              </div>

  
            <!-- Boutons pour les QCM -->
            <button v-if="step.type == 'choice'" v-for="choice in step.choices" class="btn btn-lg btn-block choice rounded" v-on:click="submitButton(choice)">{{ choice }}</button>
  
            <!-- Champ de saisie pour les réponses libres -->
            <input type="text" ref="textInput" v-if="step.type == 'text'" class="form-control" placeholder="Écrivez votre réponse" v-on:keyup.enter="submitText()">
            <button class="btn btn-lg btn-block next" v-if="step.type == 'text'" v-on:click="submitText()">Prochaine question</button>
            <input type="number" ref="nbInput" v-if="step.type == 'number'" class="form-control" placeholder="Écrivez votre réponse" v-on:keyup.enter="submitNumber()">
            <button class="btn btn-lg btn-block next" v-if="step.type == 'number'" v-on:click="submitNumber()">Prochaine question</button>
  
            <!-- Résultat -->
          </div>
          <div class="card-body col-10" v-if="current == quiz.length">
            <h4 class="card-title">Bravo {{ lector_name }}, vous avez terminé !</h4>
            <p class="card-text"><span v-if="match_gender == 'H'">Le député</span><span v-if="match_gender == 'F'">La députée</span> qui vous correspond le plus est {{ match_name }} ({{ match_party }}) </p>
            <p class="card-text"><span v-if="match_gender == 'H'">Il est né</span><span v-if="match_gender == 'F'">Elle est née</span> le {{ match_date_birth }} à {{ match_place_birth }}.</p>
            <p class="card-text"><span v-if="match_gender == 'H'">Il est eurodéputé</span><span v-if="match_gender == 'F'">Elle est eurodéputée</span> depuis {{ match_eurodep_depuis }} pour la circonscription {{ match_circo }}.</p>
          </div>
        </div>
      </main>
      <div class="d-flex align-items-center justify-content-md-center">
          <div id="data" class="card-body col-10" v-if="current == quiz.length">
              <h4 class="card-title">En savoir plus</h4>
              <p class="card-text">
                <span v-if="lector_gender == 'femme'">Vous êtes une femme comme 43,24%</span>
                <span v-if="lector_gender == 'homme'">Vous êtes un homme comme 56,75%</span>
                des députés français au Parlement européen. 
              </p>
              <p class="card-text">
                Vous avez le même prénom que {{ same_firstname.length }} eurodéputé<span v-if="lector_gender == 'femme'">e</span><span v-if="same_firstname.length > 1">s</span> français<span v-if="lector_gender == 'femme'">e</span><span v-if="same_firstname.length > 1">s</span><span v-if="same_firstname.length > 0"> : </span><span v-if="same_firstname.length == 0">.</span>
                <span v-for="firstname in same_firstname" > {{ firstname }}</span>
              </p>
              <!-- <p>
                  Vous êtes né<span v-if="lector_gender == 'femme'">e</span> la même année que <span v-if="same_birthdate.length > 1">s</span> {{ same_birthdate.length }} eurodéputé(e)<span v-if="same_birthdate.length > 1">s</span> français(e)<span v-if="same_birthdate.length > 1">s</span>
                  <span v-if="same_birthdate.length > 0">:</span>
                  <span v-if="same_birthdate.length == 0">.</span>
                  <span v-for="firstname in same_birthdate" > {{ firstname }}</span>
                </p> -->
              </div>
          </div>
    </div>
    

    <script src="vendors/vue.min.js"></script>
    <script src="static/js/quiz.js"></script>
    <script src="static/js/europeandep.js"></script>
    <script src="static/js/utilities.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
