<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Session 11</title>
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
      <header class="jumbotron text-center">
          <div class="container">
            <h1>Y a-t-il un eurodéputé français qui vous ressemble ?</h1>
          </div>
      </header>
      <section class="container" id="introPart">
          <div class="intro row align-items-center justify-content-md-center">
            <p class="col-lg-8 col-sm-10 col-10">Nous sommes le {{ day }} {{ now.getDate() }} {{ month }} {{ now.getFullYear() }}. {{ intro }} 
            </p>
            <p class="col-lg-8 col-sm-10 col-10">{{ introquestion }}</p>
          </div>
        </section>

    <div id="app" class="container" v-cloak>
      <!-- Carte principale -->
  
      <main class="d-flex align-items-center justify-content-md-center row" v-cloak>
        <div class="col-lg-6 col-sm-10 col-10 toCenter">
          <button v-if="current == 0" id="start" class="btn btn-lg btn-block choice start rounded" v-on:click="start()">C'est parti !</button>
          <div id="card_question" class="card question" v-if="current < quiz.length">
              <div class="card-header text-white bg-dark">{{ step.question }}</div>
              <button v-if="step.type == 'choice'" v-for="choice in step.choices" class="btn btn-lg btn-block choice rounded" v-on:click="submitButton(choice)">{{ choice }}</button>
              <input type="text" ref="textInput" v-if="step.type == 'text'" class="form-control" placeholder="Écrivez votre réponse" v-on:keyup.enter="submitText()">
              <button class="btn btn-lg btn-block next" v-if="step.type == 'text'" v-on:click="submitText()">Prochaine question</button>
              <input type="number" ref="nbInput" v-if="step.type == 'number'" class="form-control" placeholder="Écrivez votre réponse" v-on:keyup.enter="submitNumber()">
              <button class="btn btn-lg btn-block next" v-if="step.type == 'number'" v-on:click="submitNumber()">Prochaine question</button>
          </div>
          <div class="card question" v-if="current == quiz.length">
              <h4 class="card-header text-white bg-dark">Bravo {{ reader_name }}, vous avez terminé !</h4>
              <p class="card-text"><span v-if="match_gender == 'H'">Le député</span><span v-if="match_gender == 'F'">La députée</span> qui vous correspond le plus est <b>{{ match_name }}</b> ({{ match_party }}). </p>
              <p class="card-text"><span v-if="match_gender == 'H'">Il est né</span><span v-if="match_gender == 'F'">Elle est née</span> le {{ match_date_birth }} à {{ match_place_birth }}. <span v-if="match_gender == 'H'">Il est eurodéputé</span><span v-if="match_gender == 'F'">Elle est eurodéputée</span> depuis {{ match_eurodep_depuis }} pour la circonscription {{ match_circo }}.</p>
          </div>
        </div>
      </main>
      <div class="d-flex align-items-center justify-content-md-center row">
          <div id="data" class="col-lg-6 col-sm-10 col-10 toCenter" v-if="current == quiz.length">
              <div class="card question"><h4 class="card-header text-white bg-dark">En savoir plus</h4></div>
              <p class="card-text"><span v-if="reader_gender == 'femme'">Vous êtes une <b>femme</b> comme 43,24%</span><span v-if="reader_gender == 'homme'">Vous êtes un <b>homme</b> comme 56,75%</span> des députés français au Parlement européen.</p>
              <p class="card-text">Vous avez le même prénom que <b>{{ same_firstname.length }} eurodéputé<span v-if="reader_gender == 'femme'">e</span><span v-if="same_firstname.length > 1">s</span> français<span v-if="reader_gender == 'femme'">e</span><span v-if="same_firstname.length > 1">s</span></b><span v-if="same_firstname.length > 0"> : </span><span v-if="same_firstname.length == 0">.</span><span v-for="(firstname, index) in same_firstname" > <span v-if="same_firstname.length > 1 && index == same_firstname.length - 1" > et </span> {{ firstname }}<span v-if="same_firstname.length >1 && index < same_firstname.length - 2" >, </span><span v-if="index == same_firstname.length - 1" >.</span></span></p>
              <p class="card-text">Vous venez de la circonscription <b>{{ reader_circo }}</b> comme {{ Math.round((same_circo.length)/74 * 100) }}% des eurodéputées et eurodéputés français. 
                
                <p class="card-text">Leurs noms sont <span v-for="(depcirco, index) in same_circo" ><span v-if="index == same_circo.length - 1" > et </span> {{ depcirco }}<span v-if="index < same_circo.length - 2" >, </span><span v-if="index == same_circo.length - 1" >.</span></span> </p></p>
              <p class="card-text">Vous avez des affinités avec les politiques <b>{{ reader_party }}</b> (et apparentés), qui représentent {{ Math.round((same_party.length)/74 * 100) }}% des eurodéputées et eurodéputés français. Leurs noms sont <span v-for="(depparty, index) in same_party" ><span v-if="index == same_party.length - 1" > et </span> {{ depparty }}<span v-if="index < same_party.length - 2" >, </span><span v-if="index == same_party.length - 1" >.</span></span> </p>
              <p class="card-text">Vous êtes né<span v-if="reader_gender == 'femme'">e</span> en <b>{{ reader_date_birth }}</b>, comme {{ same_date_birth.length }} eurodéputé(e)</span><span v-if="same_date_birth.length > 1">s</span> français(e)<span v-if="same_date_birth.length > 1">s</span></b><span v-if="same_date_birth.length > 0"> : </span><span v-if="same_date_birth.length == 0">.</span><span v-for="(depdatebirth, index)  in same_date_birth" ><span v-if="same_date_birth.length > 1 && index == same_date_birth.length - 1" > et </span> {{ depdatebirth }}<span v-if="same_date_birth.length >1 && index < same_date_birth.length - 2" >, </span><span v-if="index == same_date_birth.length - 1" >.</span></span>
                <span class="card-text" v-if="same_date_birth.length < 1"><span v-if="similar_date_birth[3] == 'F'">La</span><span v-if="similar_date_birth[3] == 'H'">Le</span> député<span v-if="similar_date_birth[3] == 'F'">e</span> européen<span v-if="similar_date_birth[3] == 'F'">ne</span> qui est <span v-if="similar_date_birth[3] == 'F'">la</span><span v-if="similar_date_birth[3] == 'H'">le</span> plus proche de vous en âge est {{ similar_date_birth[1] }}, qui est né<span v-if="similar_date_birth[3] == 'F'">e</span> le {{ similar_date_birth[2] }} et qui a donc {{ similar_date_birth[0] }} an<span v-if="similar_date_birth[0] > 1">s</span> de différence avec vous.</span>
                </span>
              </p>
              <!-- <p>
                  Vous êtes né<span v-if="reader_gender == 'femme'">e</span> la même année que <span v-if="same_birthdate.length > 1">s</span> {{ same_birthdate.length }} eurodéputé(e)<span v-if="same_birthdate.length > 1">s</span> français(e)<span v-if="same_birthdate.length > 1">s</span>
                  <span v-if="same_birthdate.length > 0">:</span>
                  <span v-if="same_birthdate.length == 0">.</span>
                  <span v-for="firstname in same_birthdate" > {{ firstname }}</span>
                </p> -->
              </div>
          </div>
    </div>
    

    <script src="vendors/vue.min.js"></script>
    <script src="static/js/quiz.js"></script>
    <script src="static/js/europeandep.js"></script>
    <script src="static/js/utilities.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
